body {
	background-color: #eeeeee;}
.wrapper {
	width: 512px;
	height: 750px;
	margin: 0 auto;
	border: 1px solid #cecece;}
.wrapper h1 {
	text-align: center;
	font-size: 1.2em;
	margin-top: 53px;}
.wrapper img {
	height: 125px;
	margin-left: 125px;
	margin-top: 20px;
	border-radius: 5px;}
.wrapper .general p {
	font-size: 1.2em;
	margin-left: 20px;}
.wrapper .general {
	border-bottom: 1px solid black;
	margin: 0 53px 0 53px;}
.wrapper .list, .contacts {
	padding-left: 20px;
	margin: 0 53px 0 53px;
	border-bottom: 1px solid black;}
.list h2{
	font-size: 1.1em;
	font-weight: normal;}
.wrapper .feed {
	padding-left: 20px;
	margin: 0 53px 0 53px;
}
.wrapper .skills {
	width: 200px;}
.wrapper .feedback-description p {
	margin-top: -10px;
}
.wrapper li {
	padding: 3px;
	margin-left: -20px;}
