
body {

    height:750px;

    width: 512px;

    position:absolute;

    border: 1px solid dimgrey;

    padding:50px;

    top:2px;

    left:350px;

}

.header {

    width: 430px;

    margin-bottom: 30px;

    margin-top: 22px;

}

.name {

    text-align: center;

    padding-top: 54px;

    font-size: 12px;

}

.picture {

    text-align: center;

    border-radius:15px;

}

.block1 {

    padding: 15px;

}

.block2 {

    padding: 15px;

    border-top-style: solid;

    border-top-width: 1px;

    border-top-color: dimgrey;

}

.block3 {

    padding: 15px;

    border-top-style: solid;

    border-top-width: 1px;

    border-top-color: dimgrey;

}

.bllock4 {

    padding: 15px;

    border-top-style: solid;

    border-top-width: 1px;

    border-top-color: dimgrey;

}
