body{
    background-color: ##FFFFFF;
    line-height: 1.4;
    font-size: 20px;
}
hr{
    width: 412px;
    }

.general{
    background-color: ##FFFFFF;
    width: 513px;
    height: 750px;
	  margin: 0 auto;
}

.breaking{
    width: 413px;
    height: 2px;
    margin: 30px auto 22px;
    background:#000000;
    overflow: hidden;
}
.name{
    text-align: center;
    padding-top: 54px;
    font-size: 12px;
}


.about{
    padding-left: 54px;
    margin: 0 0 0;
}

.list_section{
     padding-left: 54px;
     padding-bottm: 69px;
}
.contact_me{
    padding-left: 54px;
}
.feedback{
    padding-left: 54px;
    padding-bottom: 70px;
}
.skills{
    padding-left: 20px;
}
